$border-color: #303960;

.game {
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    height:90%;
    align-items: stretch;
    position: absolute;
    top:0;
    left:0;
    width: 99vw;
}

.chat {
    flex-basis:30%;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
    background-color: #f8f8f8;
    overflow: hidden;
}
.board-dv {
    flex-basis:70%;
    overflow: hidden;

  
}