.hand {
  display: flex;
  padding: 20px;
  width: 245px;
  height: 150px;
}

.cardContainer {
  flex: 1;
  margin: 0px 8px;
}

.username-container {
  background-color: burlywood;
  border-radius: 25px;
  text-align: center;
  padding: 25px;
  width: 100%;
  background-color: #a3d063;
  /* Center vertically */
  position: absolute;
  top: 110%;
  color:white;
  font-style: bold;

  /* border */
  // border: 7px solid #284b63;
}
/* :nth-child(n+7) {
 margin: 150px 40px;
}
 */